<div id="<%= dom_id concert %>">

<div class="mb-3 row form-control-lg" >
  <label class="col-sm-2 col-form-label">Nombre del Grupo</label>
  <div class="col-sm-10">
    <%= concert.group_name %>
  </div>
</div>


<div class="mb-3 row form-control-lg" >
  <label class="col-sm-2 col-form-label">Num de Personas</label>
  <div class="col-sm-10">
    <%= concert.attendance %>
  </div>
</div>


<div class="mb-3 row form-control-lg" >
  <label class="col-sm-2 col-form-label">Duración (hrs)</label>
  <div class="col-sm-10">
    <%= concert.duration %>
  </div>
</div>

<div class="mb-3 row form-control-lg" >
  <label class="col-sm-2 col-form-label">Lugar</label>
  <div class="col-sm-10">
    <%= concert.place %>
  </div>
</div>

<div class="mb-3 row form-control-lg" >
  <label class="col-sm-2 col-form-label">Fecha</label>
  <div class="col-sm-10">
    <%= concert.date %>
  </div>
</div>

</div>
